.background-pane{
    -fx-background-image: url("../../backgrounds/signup_background.jpeg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.backgroud-dark-heavy{
	-fx-background-color: #292c2f;
}

.backgroud-dark-tiny{
	-fx-background-color: #333639;
}

.root {
	-fx-background-color: #DDDDDD;
}

.cardPane {
	-fx-background-color: white;
	-fx-background-radius: 8px;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.topPane {
	-fx-background-color: #ffc107;
}

.button-active {
	-fx-background-color: #ffc107;
}

.button-active:hover {
	-fx-background-color: #eba007;
}

.button-std {
	-fx-background-color: #007bff;
}

.button-std:hover {
	-fx-background-color: #085fbd;
}

.button-danger {
	-fx-background-color: #dc3545;
}

.button-danger:hover {
	-fx-background-color: #bd2130;
}

.button-confirm {
	-fx-background-color: #28a745;
}

.button-confirm:hover{
	-fx-background-color: #24823f;
}

.img-shadow {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.img-characters {
	-fx-effect: dropshadow(three-pass-box, rgba(230,230,230,1), 13, 0.7, 0.7, 0.7);
}

.img-characters:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0,123,255,1), 13, 0.7, 0.7, 0.7);
}

.img-characters-selectable {
	-fx-effect: dropshadow(three-pass-box, rgba(255,90,0,1), 13, 0.7, 0.7, 0.7);
}

.img-characters-selected {
	-fx-effect: dropshadow(three-pass-box, rgba(40,167,69,1), 13, 0.7, 0.7, 0.7);
}

.background-text-area {
	-fx-border-color: #292c2f;	
}

.background-text-area:focused .content {
	-fx-background-color: #292c2f;
	-fx-text-inner-color: white;
}

.font-ammo-small {
	-fx-font-size: 8.5px;
}

.font-banner-small {
	-fx-font-size: 14px;
}

.button-square {
    -fx-background-color: transparent;
}

.button-square-enable {
    -fx-background-color: rgba(255,247,252,0.5);
}

.button-square-enable:hover {
	-fx-background-color: rgba(255,193,7,0.5);
}

.button-square-selected{
	-fx-background-color: rgba(40,167,69,1);
}

.card-selected {
	-fx-effect: dropshadow(three-pass-box, rgba(40,167,69,1), 20, 0, 0, 0);
}

.card-selectable {
	-fx-effect: dropshadow(three-pass-box, rgba(255,193,7,1), 10, 0, 0, 0);
}

.card:hover{
	-fx-effect: dropshadow(three-pass-box, rgba(0,123,255,1), 10, 0, 0, 0);
}

.ammo-red {
	-fx-background-color: #b52128;
}

.ammo-yellow {
	-fx-background-color: #fcc82b;
}

.ammo-blue {
	-fx-background-color: #356baf;
}

